[build-system]
requires = [
    "setuptools>=61.0", 
    "setuptools-scm>=8.0",
    "wheel"
]
build-backend = "setuptools.build_meta"

[project]
name = "qudi-iqo-modules"
description = "IQO measurement modules collection for qudi"
dynamic = ["version"]
readme = "README.md"
keywords = [
    'qudi',
    'diamond',
    'quantum',
    'confocal',
    'experiment',
    'lab',
    'laboratory',
    'instrumentation',
    'instrument',
    'modular',
    'measurement',
]
license = { text = "LGPLv3" }
classifiers = [
    'Development Status :: 5 - Production/Stable',

    'Environment :: Win32 (MS Windows)',
    'Environment :: X11 Applications',
    'Environment :: MacOS X',

    'Intended Audience :: Science/Research',
    'Intended Audience :: End Users/Desktop',

    'License :: OSI Approved :: GNU Lesser General Public License v3 (LGPLv3)',

    'Natural Language :: English',

    'Operating System :: Microsoft :: Windows :: Windows 8',
    'Operating System :: Microsoft :: Windows :: Windows 8.1',
    'Operating System :: Microsoft :: Windows :: Windows 10',
    'Operating System :: MacOS :: MacOS X',
    'Operating System :: Unix',
    'Operating System :: POSIX :: Linux',

    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',

    'Topic :: Scientific/Engineering',
    'Topic :: Software Development :: User Interfaces',
]
requires-python = ">=3.8, <3.11"
dependencies = [
    'qudi-core>=1.5.0',
    'entrypoints>=0.4',
    'fysom>=2.1.6',
    'lmfit>=1.0.3',
    'lxml>=4.9.1',
    'matplotlib>=3.6.0',
    'nidaqmx>=0.5.7',
    'numpy>=1.23.3',
    'pyqtgraph>=0.13.1',
    'PySide2',             
    'PyVisa>=1.12.0',
    'scipy>=1.9.1',
    'zaber_motion>=2.14.6',
]


[tool.setuptools.package-data]
"qudi" = ["default.cfg"]
"qudi.gui" = ["*.ui", "*/*.ui"]


[project.optional-dependencies]
dev-docs = [
    "Sphinx==7.2.6",
    "numpydoc==1.6.0",
    "sphinx-rtd-dark-mode==1.3.0",
    "sphinx-rtd-theme==2.0.0",
]

dev-lint-format = ["ruff==0.2.1"]

dev-test = ["pytest", "pytest-qt", "coverage"]

[tool.setuptools.dynamic]
version = {file = "VERSION"}